.top-image {
  width: 100vw;
  height: 200px
}

.title-contents {
  width: 100vw;
  background-image: image-url('top-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-products: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin: 0 0 440px 0;
}

.catchphrase {
  margin: 10px 0 40px 0;
  font-size: 32px;
}

.service-explain {
  margin: 23px 0;
  font-size: 16px;
}

.app-concept{
  display: block;
  justify-content: center;
  padding: 16vh 0;
  background-color: rgb(231, 249, 212);
}

.app-whats{
  text-align: center;
  font-size: 4vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.app-explanation{
  text-align: center;
  font-size: 2.5vh;
  line-height: 5vh
}

.underline{
  font-weight: bold;
  /* color: red; */
  background: linear-gradient(transparent 60%, #ff99ff 60%);
}

.product-lineup {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.font_weight {
  font-weight: bolder;
}

.index-title{
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;

}

.product-detail {
  margin: 16px 16px;
  display: block;
}

.product-img {
  width: 32vh;
  height: 32vh;
}

.product-info {
  display: block;
}

.product-name {
  font-size: 2.5vh;
  font-weight: bolder;
}

.product-quantity {
  font-size: 2vh;
  font-weight: bolder;
}

.product-price {
  font-size: 3vh;
  font-weight: bolder;
}

.product-shipment-fee {
  font-size: 1.5vh;
}