.top-page-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(203, 193, 193);
  padding: 16px 32px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 12vh;
}

.app-title {
  padding:  0 32px;
  font-size: 2.5vh;
  font-family: 'Ubuntu', sans-serif;
  text-align: center
}

.btn-list {
  display: flex;
}

.lists-right {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-align: center;
}

button {
  font-weight: bold;
  margin-left: 5px;
  background-color: rgb(234, 174, 70);
  display: inline-block;
  width: 120px;
  height: 44px;
  margin: 0 3px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
  font-weight: bold;
}
button:hover {
  opacity: 0.6;
}
button:active {
  box-shadow:none;
  position:relative;
  top:3px;
}

//検索フォーム
.search-form {
  text-align: center;
  margin-top: 1vh;
  display: flex;
  .search-title {
    margin: 2% 1% 0 0;
    width: 72px;
    height: 28px;
  }
  .search-input {
    margin: auto 0;
    width: 280px;
    height: 32px;
    margin-right: 2%;
    border-radius:0 2px 2px 0;
  }
  .search-btn {
    margin: auto 0;
    width: 50px;
    height: 28px;
    border-radius:0 2px 2px 0;
  }
  .search-btn:hover {
    opacity: 0.6;
  }
  .search-btn:active {
    box-shadow:none;
    position:relative;
    top:3px;
  }
  
}