<div class='footer'>
<footer class='footer'>
  <div class='footer-text-wrap'>
    <p class='footer-text'>プライバシーポリシー</p>
    <p class='footer-text'>利用規約</p>
    <p class='footer-text'>特定商取引に関する表記</p>
    <%= link_to 'トップへ', root_path, class:'footer-text' %>
  </div>
</footer>
<%= image_tag "orange-line.png", class:"footer-line"%>
</div>