<%= render "shared/header" %>
<div class="back-image">
<div class="total-body">
<div class="about-title">
    <h2>What's 食品ロス？</h2>
</div>
    <div class="question-container">
    <div class="question-title">
        <p>Ｑ１. 食品ロスって何？</p>
    </div>
    <div class="answer">
        <p>食品ロスとは、<span class="underline">本来食べられるのに捨てられてしまう食品</span>のことです。</p>
        <p>食品ロスは、事業活動を伴って発生する<b>「事業系食品ロス」</b>と、各家庭から発生する<b>「家庭系食品ロス」</b>に分けられます。</p>
    </div>
    </div>


    <div class="question-container">
    <div class="question-title">
        <p>Ｑ２. 食品ロスってどのぐらいの量あるの？</p>
    </div>
    <div class="answer">
        <p>全世界で生産される食料は年間約40億tに上りますが、この内<b>約３分の１が様々な理由から無駄</b>になっています。</p>
        <p>日本の食品廃棄物等は年間2,550万t(H29年)で、その中で食品ロスの量は<b>年間612万t</b>になっています。中でも事業系による、規格外や売れ残り、返品といったまだ食べられる食品の廃棄量は<b>約339万t</b>にのぼり、<b>メーカーや小売から出されたものがその6割</b>を占めています。</p>
        <p>日本人の1人当たりの食品ロス量は1年で約48kgあり、これは日本人1人当たりが<span class="underline">毎日お茶碗一杯分のご飯を捨てている</span>のと同じ量になります。</p>
        <%= image_tag "food-loss-graph.png", class:"graph-image" %>
    </div>
    </div>

    <div class="question-container">
    <div class="question-title">
        <p>Ｑ３. 何が問題なの？</p>
    </div>
    <div class="answer">
        大きく分けて３つあります。
        <p>① <span class="underline">もったいない</span></p>
        <p>前述しましたが、国民全員が毎日お茶碗一杯分捨てていることになります。食品の６割を輸入に頼る日本は特に、ロスを減らして資源を無駄にしないことが大切です。</p>
        <p>② <span class="underline">環境問題</span></p>
        <p>生産から加工、流通、消費の各段階で地球温暖化の原因となるCO2などの温室効果ガスを多く排出しています。また、生産段階だけでなく、加工や輸送にかかったエネルギーも全て無駄になります。</p>
        <p>さらに廃棄処理にかかるエネルギーを考慮すると、環境にかかる負荷は決して小さくありません。</p>
        <p>③ <span class="underline">コストの問題</span></p>
        <p>ゴミ処理の費用、卸売業者や小売業者の廃棄コストの増加し、無駄なゴミから無駄なコストや環境問題が派生して発生しています。</p>
    </div>
    </div>

    <div class="question-container">
    <div class="question-title">
        <p>Ｑ４. なんでこんな事が起こるの？原因は？</p>
    </div>
    <div class="answer">
        <p>事業系食品ロスでは、まず<span class="underline">作り過ぎ、在庫過多</span>が挙げられます。次に、先進国では<span class="underline">厳しい品質基準</span>も原因の一つです。品質や鮮度・見た目への要求が高く、加工段階で生鮮食品に対して厳しい品質基準が設けられているため、これに適さないとそれだけで廃棄につながってしまいます。</p>
        <p>また、小売り段階では大量陳列と幅広い品数により、どうしても消費されない食品が出てきます。そうなると残ったものは廃棄されることになります。</p>
        <p>さらに購入されたとしても一般消費者は簡単に捨てる余裕があることから、<span class="underline">無計画に購入すること、食べ残し、賞味期限の管理ミスなどによって余らせてしまい、廃棄してしまう</span>ことが多いのです。これが家庭系食品ロスです。<p>このように様々な要因が重なり、先進国の食品ロスは発生しています。</p>
    </div>
    </div>

    <div class="question-container">
    <div class="question-title">
        <p>Ｑ５. どうしたらいいの？</p>
    </div>
    <div class="answer">
        <p><b>＜個人として＞</b></p>
        <p>消費者一人一人が普段の生活の中で、計画的に買い物をし、<span class="underline">無駄を出さないように意識を高める</span>事でロスを減らす事ができます。</p>
        <p><b>＜社会の流れ＞</b></p>
        <p>最近では企業が、製品の賞味期限を「年月日表示」から「年月表示」に変える流れが出てきています。</p>
        <p>また、東京駅改札内の商業施設では、営業終了後に、まだ食べられる食品を駅で働く従業員に値下げして販売し、食事需要へと活用することにより、食品ロス削減へ新しい取り組みを始めています。さらに賞味期限切れの商品を格安で販売するスーパーも出てきて、社会の関心が高まっている食品ロス削減に商機を見いだしている企業もあります。</p>
        <p>私たちはこの<span class="underline">「FoodEcology」の運営を通じて、食品ロス削減に貢献したく思います。</span></p>
        <p>FoodEcologyでは、主に在庫を抱え過ぎて賞味期限が切れてしまった商品や、傷やサイズの問題で出荷できなかった野菜など、いわゆる「訳アリ商品」を取り扱いますが、安全に召し上がれる商品の提供に努めます。</b></p>
    </div>
    </div>

    <div class="question-container">
    <div class="question-title">
        <p>6. 賞味期限が切れても食べられるの？</p>
    </div>
    <div class="answer">
        <p>結論から言うと、<span class="underline">食べれます。</span>食品の種類や保存状態にもよりますが、食品の種類やメーカーによっても違うようですが、
        表示している日時の1.1～1.5倍の期間までは賞味しても大丈夫な設定になっているものがほとんどだからです。
        <p>ご存知かとは思いますが、ここで賞味期限と消費期限の違いを説明しておくと、<b>賞味期限は「品質が変わらずにおいしく食べられる期限」</b>を示しているものです。これに対して<b>消費期限は、「安全に食べられる期限」</b>ということを示しています。</p>
        <p>つまり「賞味期限切れ食品」は食べられないという訳ではなく、<span class="underline">「賞味期限が切れる＝健康に害を及ぼす食品」というイメージ自体が間違っているのです。</span></p>
        <p>ちなみに、賞味期限はメーカーが自主的に定めたものであり、賞味期限切れの商品を販売すること自体は違法行為にあたりません。</p>
    </div>
    </div>


    <div class="reference">
    <div class="question-title">
        <p>出典</p>
    </div>
        <p>・農林水産省HP https://www.maff.go.jp/</p>
        <p>・消費者庁HP https://www.caa.go.jp/</p>
        <p>・読売新聞2020/11/8 「あすへの考 持続可能な社会」 食品ロス削減 CO2排出も減</p>
    </div>
</div>
</div>
<%= render "shared/footer" %>