<h2>what's FoodEcology</h2>
    <p>FoodEcologyは「食品ロスを減らす」というコンセプトを元に作られた、生産者と消費者を繋ぐアプリケーションです。</p>
    <p>買い手売り手は、個人法人問わず、誰でも出品・購入が可能です。</p>
    <p>FoodEcologyでは、主に訳アリ商品を取り扱います。もちろん、安全に召し上がれる商品を取り扱うのですが、</p>
    <p>訳アリ商品というのは、主に在庫を抱え過ぎて賞味期限が切れてしまった商品や、傷やサイズの問題で出荷できなかった野菜など、</p>
    <p>まだ安全に食べることができるのに、店頭に陳列することが出来なくなった商品のことを指します。</p>
    <p>このような訳あり商品の販売・消費を通じて、生産者や卸業者の廃棄コストが減り、消費者は安く購入できるというメリットが生まれ、</p>
    <p>食品ロスが減ることによって環境負荷、経済損失といった社会問題の解消に少しでも貢献したいと考えています。</p>

    <p>ここまでで、食の安全は大丈夫なのかという声があると思います。賞味期限と消費期限の違いはご存知かとは思いますが、念のため説明しておくと、</p>
    <p>賞味期限は「品質が変わらずにおいしく食べられる期限」を示しているもので、これに対して消費期限は、「安全に食べられる期限」ということを示しています。</p>
    <p>つまり「賞味期限切れ食品」は食べられないという訳ではなく、「賞味期限が切れる＝健康に害を及ぼす食品」というイメージ自体が間違っています。</p>
    <p>また、賞味期限はメーカーが自主的に定めたものであり、賞味期限切れの商品を販売すること自体は違法行為にあたりません。</p>
    <p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>


そもそも「賞味期限が切れる＝健康に害を及ぼす食品」というイメージ自体が間違っている
そもそも、賞味期限はメーカーが自主的に定めたものであり、賞味期限切れの商品を販売すること自体は違法行為にあたりません。賞味期限切れ食品に関しては、『販売そのものが法律に抵触することはない』です。食品の販売に関しては、食品衛生法などの法律が関係するのですが、こういった法律の内容に抵触するのは、「人の健康を害する食品を販売する行為」や、「食中毒などの食品事故を起こした」などと言った行為なのです。
期限切れ商品の販売は違法？ そもそも、賞味期限はメーカーが自主的に定めたものであり、賞味期限切れの商品を販売すること自体は違法行為にあたりません。 しかし、食品衛生法では、『人の健康を損なうおそれがある商品の販売や陳列』について禁じており、期限切れの商品を販売することでこれに該当する、というケースは考えられます。
    <p>買い手売り手は、個人法人問わず自由です。</p>
    <p>仕入れたものの見込み通りに売れず残ってしまった商品、手塩にかけて育てた農産物も見た目や形が悪く、出荷できなかったものなどは</p>
    <p>まだ食べられる状態にも関わらず、行き場がなく廃棄されます。</p>
    <p>在庫を抱えた業者は廃棄のコストがかかり、食品ロスも増えてしまいます。</p>
    <p>しかし、まだ食べることはできるため、このような商品でもニーズはあると考えます。</p>
    <p>例えば、収穫したばかりですが傷があり見た目が悪く、出荷されなかったトマトがあるとします。このようなケースでは見た目に問題があるだけで</p>
    <p>味や鮮度には問題ないケースがほとんどのため、見た目が悪い分、価格を下げれば「それでもいいから欲しい」というニーズは、日々家計簿と睨めっこしている</p>
    <p>主婦層の方々にはあるとかんがえます。調理すれば関係ないからです。</p>
    <p>そのため、主婦に限らず飲食店などにもニーズはあると考えます。繰り返しになりますが、調理すれば関係ないからです。</p>
    <p>ミートソースが見た目のいいトマトから出来ているかどうかなど関係ないですし、大事なのはむしろ鮮度です。</p>
    <p>論点がズレましたが、販路の自由度が高い個人経営の飲食店なども対象だと考えています。</p>
    <p>また、スーパーで販売されている納豆なども</p>
    <p></p>
    <p>このアプリはそのような物を対象に</p>
    <p></p>
  </div>
  <%# 食品ロスの説明 %>
  <div explain-issue>
    <h2>食品ロスとは</h2>
    <p>「食品ロス」とは、本来食べられるのに捨てられてしまう食品をのことである。</p>

    <p>日本ではどれくらいの食品ロスが発生しているか？（下図参照）</p>
    <p>日本の食品廃棄物等は年間2,550万t</p>
    <p>その中で本来食べられるのに捨てられる食品「食品ロス」の量は年間612万t。（平成29年度推計値）</p>
    <p>日本人の1人当たりの食品ロス量は1年で約48kgで、</p>
    <p>これは<span class="font_weight">日本人1人当たりが毎日お茶碗一杯分のご飯を捨てている</span>のと同じ量になる。</p>

    <p>食品ロスは大きく分けると下記2つに分けることが出来る。</p>
    <p>事業活動を伴って発生する食品ロス・・「事業系食品ロス」</p>
    <p>各家庭から発生する食品ロス・・・・・「家庭系食品ロス」</p>

    <p>612万tのうち</p>
    <p>事業系食品ロスは328万t</p>
    <p>家庭系食品ロスは284万tとなっている。</p>

    <p>事業系の食品ロスは更に4業種に分類することができる。</p>
    <p>食品製造業・・121万t</p>
    <p>食品卸売業・・16万t</p>
    <p>食品小売業・・64万t</p>
    <p>外食産業・・・127万t</p>

    <p>食品ロスを減らすためには、家で食品ロスが出ないようにするだけでなくて、食べ物を買うお店、食べるお店でも食品ロスを減らすことを意識することが大切。</p>
    <p>例えば、食べ物を買うお店や食べるお店では、奥から商品をとらずに、陳列されている賞味期限の順番に買ったり、</p>
    <p>包装資材（段ボール）ごと買う場合に、段ボールにちょっとのキズ・汚れがあっても、中身が問題なければそのまま買ったり(PDF : 326KB)、</p>
    <p>賞味期限の近い値引き商品を買ったり、食べきれる分量を注文して、食べ残しを出さなかったり、みんなのちょっとした行動で食品ロスを減らすことができる。</p>
  </div>