<%= render "shared/header" %>
<div class='main'>

  <%= image_tag "top-image.png" %>
  <div class='title-contents'>
    <h2>
      それ捨てるんですか？
    </h2>
    <p class='service-explain'>
      FoodEcologyはだれでもかんたんに出品・購入できる
    </p>
    <p class='service-explain'>
      食品リサイクルアプリです
    </p>
  




<%= render "shared/footer" %>